%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% exl ts=4 sw=4 ft=erlang et

{erl_opts, [debug_info]}.
% {erl_opts, [debug_info,
%     {parse_transform, lager_transform},
%     {parse_transform, ms_transform}
% ]}.
{deps, [
    {amqp_client, "3.6.10"}
]}.
{shell, [
    {apps, [mq_xxer]},
    {config, "config/dev_sys.config"}
]}.
{dist_node, [
    {name, 'mq_xxer@127.0.0.1'},
    {setcookie, 'aabbcc123'}
]}.
{relx, [
    {include_src, false},
    {include_erts, false},
    {dev_mode, true},
    {extended_start_script, true},
    {sys_config, "config/dev_sys.config"},
    {vm_args, "config/dev_vm.args"},
    {release,
        {mq_xxer, "1.0.0"},
        [mq_xxer]
    }
]}.
