%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% exl ts=4 sw=4 ft=erlang et

[
    {mq_xxer, [
        {mq_cfg, [
            {is_mq_start, true},
            {host, "localhost"},
            {port, "5672"},
            {username, <<"guest">>},
            {password, <<"guest">>},
            {virtual_host, <<"/">>}
        ]}
    ]}
].
